// GENERAL WEIGHT
$font_weight_thin = 200;
$font_weight_light = 300;
$font_weight_regular = 400;
$font_weight_book = 500;
$font_weight_bold = 700;

// H1 STYLE
$font_family_h1 = "pier";
$font_size_h1 = 36px;
$font_weight_h1 = $font_weight_regular;
$font_style_h1 = normal;

// H2 STYLE
$font_family_h2 = "caslon";
$font_size_h2 = 30px;
$font_weight_h2 = $font_weight_regular;
$font_style_h2 = normal;

// H3 STYLE
$font_family_h3 = "pier";
$font_size_h3 = 38px;
$font_weight_h3 = $font_weight_regular;
$font_style_h3 = normal;

// H4 STYLE
$font_family_h4 = "pier";
$font_size_h4 = 28px;
$font_weight_h4 = $font_weight_regular;
$font_style_h4 = normal;

// H4 STYLE
$font_family_h5 = "caslon";
$font_size_h5 = 60px;
$font_weight_h5 = $font_weight_regular;
$font_style_h5 = italic;

// P STYLE
$font_family_p = "caslon";
$font_size_p = 15px;
$font_weight_p = $font_weight_regular;
$font_style_p = normal;
$font_line-height_p = 20px;