// for grid in $grids {
//     for index in (1..grid){
//         .col-{index}on{grid} {
//             width: (100% / grid) * index
//         }
        
//         .marg-l-{index}on{grid} {
//             margin-left: (100% / grid) * index
//         }
        
//         .marg-t-{index}on{grid} {
//             margin-top: (100% / grid) * index
//         }
        
//         .marg-r-{index}on{grid} {
//             margin-right: (100% / grid) * index
//         }
        
//         .pad-l-{index}on{grid} {
//             padding-left: (100% / grid) * index    
//         }
        
//         .pad-r-{index}on{grid} {
//             padding-right: (100% / grid) * index    
//         }
        
//         .pad-x-{index}on{grid} {
//             padding-left: (100% / grid) * index  
//             padding-right: (100% / grid) * index    
//         }
//     }
// }

// for breakpoint in $breakpoints {
//     @media $breakpoints[breakpoint] {
        
//         for grid in $grids {
//             for index in (1..grid){
//                 .col-w{index}on{grid}\\\@{breakpoint} {
//                     width: (100% / grid) * index
//                 }
                
//                 .marg-l-{index}on{grid}\\\@{breakpoint} {
//                     margin-left: (100% / grid) * index
//                 }
                
//                 .marg-r-{index}on{grid}\\\@{breakpoint} {
//                     margin-right: (100% / grid) * index    
//                 }
                
//                 .pad-r-{index}on{grid}\\\@{breakpoint} {
//                     padding-right: (100% / grid) * index    
//                 }

//             }
//         }
        
//     }
// }