// --------------------------------------------------
// Colors
// --------------------------------------------------

$colors = {
    black: #000000
    white: #ffffff

    pseudo-white: rgba(255,255,255,.8)
    pseudo-gray: rgba(0,0,0,.4)

    brand-yellow:     #f2a741
    brand-orange:     #ee8c21
    exp-red:          #ed4f2b
    
    brand-green:               #4cbeb8
    brand-green-dark:          #008080 
    
    brand-blue-light: #75c9eb
    brand-blue-dark:  #00569c 
    brand-blue-sea:   #2c75ea

    brand-dark:       #272727 
    brand-light:      #f6fafd

    gray:             #848080 
    gray-lighter:     #f0f0f0  
    gray-dark:        #393839
    gray-light:       #f8f8f8 
    gray-medium:      #939393 

    instragram :      #3f729b
    twitter:          #6dcff6
    facebook:         #3B5998
    vimeo:            #00baef
    pinterest:        #cc1c0a
    linkedin:         #0078ba
}
