// --------------------------------------------------
// Global
// --------------------------------------------------

$asset-path =  "./assets/images/"
$font-path  =   "./assets/fonts/"


// -------------------------
// Font
// -------------------------

$font-base      = "Montserrat-Regular", "sans-serif"
$font-serif     = "Galaxy", "serif"
$font-semi-bold = "Montserrat-SemiBold", "sans-serif"


$font-size-xs  = 12
$font-size-sm  = 14
$font-size-md  = 16
$font-size-lg  = 20
$font-size-xl  = 24
$font-size-xxl = 30

$font-size-h1 = 120
$font-size-h2 = 90
$font-size-h3 = 60
$font-size-h4 = 52
$font-size-h5 = 35
$font-size-h6 = 30


// -------------------------
// border-box and margin
// -------------------------

$border-box = true

$margins = {
    xxs: 5px
    xs:  10px
    sm:  20px
    md:  30px
    lg:  50px
    xl:  80px
    xxl: 120px
    xxxl: 280px
}

$paddings = {
    xs:  10px
    sm:  20px
    md:  30px
    lg:  50px
    xl:  80px
    xxl: 120px
    xxxl: 280px
}


// -------------------------
// grids specifications
// -------------------------

$grids = (2 3 4 5 6 7 8 9 10 11 12 13 20)


// -------------------------
// breakpoints
// -------------------------

$breakpoints = {
    xl: unquote("screen and (min-width: 1400px)") //xl
    lg: unquote("screen and (max-width: 1280px)") //lg
    md: unquote("screen and (max-width: 1025px)") //md
    sm: unquote("screen and (max-width: 767px)")  //sm
    xs: unquote("screen and (max-width: 360px)")  //xs
}