// --------------------------------------------------
// Buttons
// --------------------------------------------------


.t-btn {
    @extends $reset-input
    @extends $reset-link

    font-size $font-size-lg
    font-family $font-bold
}

.t-btn--primary {
    @extends .t-btn
}

.t-btn--secondary {
    @extends .t-btn
}

.t-btn--rounded {
    @extends .t-btn
}

.t-btn--burger {
    width  41.5px
    height 33px
    display none
    
    border-radius 2px
    border 1px solid rgba($colors["white"],.2);
    
    @media $breakpoints.sm {
        display inline-block
    }
}

.t-btn--burger__bar {
    left 3px
    
    width 13.5px
    height 1px
    
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3){
        opacity 1
        transition transform .3s .4s $ease-out-quart, opacity 0s .4s $ease-out-quart
    }

    &:nth-of-type(2){
        margin 4px 0
    }
    
    &:nth-of-type(4),
    &:nth-of-type(5){
        top 15px
        left 13.5px
        opacity 0
        transform rotate(0) translateZ(0)
        transition transform .3s 0s $ease-out-quart, opacity 0s .5s
    }


    .is-nav-active & {
        &:nth-of-type(1),
        &:nth-of-type(2),
        &:nth-of-type(3){
            opacity 0
            transition transform .3s $ease-out-quart, opacity 0s .3s $ease-out-quart
        }
        
        &:nth-of-type(1){
            transform translateY(5px) translateZ(0)
        }
        
        &:nth-of-type(3){
            transform translateY(-5px) translateZ(0)
        }
        
        &:nth-of-type(4){
            opacity 1
            transform rotate(-135deg) translateZ(0)
            transition transform .3s .35s $ease-out-quart, opacity 0s .30s
        }
        &:nth-of-type(5){
            opacity 1
            transform rotate(-45deg) translateZ(0)
            transition transform .3s .37s $ease-out-quart, opacity 0s .30s
        }
    }
}