// --------------------------------------------------
// headings
// --------------------------------------------------

.t-h1 {
    @extends $reset-heading
    
    font-size $font-size-h1
    font-family $font-semi-bold
    
    line-height 1.01
    
    @media $breakpoints.lg {
        font-size 85
    }
    
    @media $breakpoints.md {
        font-size 60
    }
    
    @media $breakpoints.sm {
        font-size 45
    }
    
}

.t-h2 {
    @extends $reset-heading
    
    font-size $font-size-h2
    font-family $font-semi-bold
    
    line-height 1.1
    
    @media $breakpoints.sm {
        font-size 30
    }
}

.t-h3 {
    @extends $reset-heading
    
    font-size $font-size-h3
    font-family $font-semi-bold
    
    line-height 1.2
    
    @media $breakpoints.md {
        font-size 53
    }
    
    @media $breakpoints.sm {
        font-size 37
    }
}

.t-h4 {
    @extends $reset-heading
    
    font-size $font-size-h4
    font-family $font-semi-bold
    
    @media $breakpoints.lg {
        //font-size 30
    }
    
    @media $breakpoints.sm {
        font-size 27
    }
}

.t-h5 {
    @extends $reset-heading

    font-size $font-size-h5
    font-family $font-semi-bold
    
    
    @media $breakpoints.sm {
        font-size 22
    }
}

.t-h6 {
    @extends $reset-heading

    font-family $font-semi-bold
    font-size $font-size-h6
}